.App{
    height: 100vh;
    width: 100vw;
    /*background: lightblue;*/
    display: flex;
    flex-direction: column;
}

.MainContainer{
    display: flex;
    width: 100%;
    height: calc(100% - 72px);
    padding-top: 8px;
}

.myTextArea{
    width : 100% ;
    height: fit-content;
    outline:none;
    background: none;
    border : none ;
    font-size: 14px;
    resize: none;
}

.CreateNoteFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
